.home-header {
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.card-grid {
    display: grid;
    gap: 0.8%;
}

.card-grid.wide {
    grid-template-columns: [column] 16% [column] 16% [column] 16% [column] 16% [column] 16% [column] 16%;
    grid-template-rows: [row] auto [row];
    min-width: fit-content;
}

#fundamental-info.wide {
    grid-column: column / span 2;
    grid-row: row;
}

#specialization.wide {
    grid-column: column 3 / span 4;
    grid-row: row;
}

#work-experience.wide {
    grid-column: column / span 4;
    grid-row: row 2;
}

#contact.wide {
    grid-column: column 5 / span 2;
    grid-row: row 2;
}

.card-grid.narrow {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* grid-template-columns: 49% 49%; */
    /* gap: 2%; */
}

.main-card {
    /* animation: popout 0.3s ease; */
    position: relative;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 200px;
    color: #fff;
    border-radius: 3px;
    letter-spacing: 2px;
    transition-duration: 300ms;
}

.main-card:hover {
    color: #444;
}

.main-card>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition-duration: 300ms;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background-color: #000;
    opacity: 80%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 300ms;
    font-size: 1.4rem;
    font-weight: 100;
}

.card-word {
    padding: 0 0 0 15%;
    word-wrap: break-word;
    font-size: 1rem;
}