@media screen and (min-width:1024px) {
     :root {
        --headerHeight: 40vh;
        --btnGridWidth: 55%;
    }
}

@media screen and (min-width:512px) and (max-width:1024px) {
     :root {
        --headerHeight: 40vh;
        --btnGridWidth: 70%;
    }
}

@media screen and (max-width:512px) {
     :root {
        --headerHeight: 35vh;
        --btnGridWidth: 90%;
    }
}

html {
    scroll-behavior: smooth;
    cursor: default;
    height: 100%;
}

body {
    scroll-behavior: smooth;
    margin: 0px;
    font-family: "微軟正黑體", sans-serif;
    background-color: #fefefa;
}

::selection {
    color: #fff;
    background: #888;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
}

.home-header {
    height: var(--headerHeight);
    width: 100%;
    display: flex;
    justify-content: center;
}

@keyframes popout {
    from {
        transform: scale(0)
    }
    50% {
        transform: scale(1.2)
    }
    75% {
        transform: scale(0.8)
    }
    to {
        transform: scale(1)
    }
}

#path {
    display: flex;
    align-items: flex-end;
    padding: 50px 0;
}

.part-of-path {
    color: #999;
    font-size: 2em;
    font-weight: 100;
    text-align: center;
}

.part-of-path:hover {
    text-decoration: none;
    color: #888;
}

a {
    text-decoration: none;
}

.home-main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-grid {
    display: grid;
    width: var(--btnGridWidth);
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: stretch;
}

.main-btn {
    animation: popout 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #000;
    border-radius: 3px;
    color: #ddd;
    font-size: 1.4rem;
    font-weight: 100;
    letter-spacing: 2px;
    transition-duration: 300ms;
    white-space: nowrap;
}

.main-btn:hover {
    background-color: #333;
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
}

.subject-word {
    padding-left: 10px;
}

.home-footer {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#footer-btn-bar {
    padding-bottom: 20px;
    display: flex;
}

.footer-btn {
    display: flex;
    padding: .25rem 1.5rem;
    color: #000;
    background-color: transparent;
    border-radius: 20px;
}

.footer-btn:hover {
    color: #000;
    background-color: #eee;
}