html {
    scroll-behavior: smooth;
    cursor: default;
    height: 100%;
}

body {
    scroll-behavior: smooth;
    margin: 0px;
    font-family: "微軟正黑體", sans-serif;
    background-color: #fefefa;
}

::selection {
    color: #fff;
    background: #888;
}

.header {
    height: 40vh;
}

.main-btn {
    animation: popout 0.3s ease;
}

@keyframes popout {
    from {
        transform: scale(0)
    }
    50% {
        transform: scale(1.2)
    }
    75% {
        transform: scale(0.8)
    }
    to {
        transform: scale(1)
    }
}

.part-of-path {
    color: #999;
    font-size: 2em;
    font-weight: 100;
}

.part-of-path:hover {
    text-decoration: none;
    color: #888;
}

a {
    text-decoration: none;
}

.footer {
    height: 40vh;
}