html{
	scroll-behavior: smooth;	//for PC
}
body{
	scroll-behavior: smooth;	//for mobile phone
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	font-family: "微軟正黑體";
}
header{
	top:0px;
	position: fixed;
	height:60px;
	width: 100%;
	background-color:#F4B400;
	opacity: 98%;
	z-index: 10;
}
header>div{
	height: inherit;
	width: 50%;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	line-height: inherit;
	vertical-align: top;
	display:inline-block;
}
#webLogo{
	height:60%;
	margin-right: 5px;
	margin-top: 8px;
	line-height: inherit;
	vertical-align: top;
}
#webName{
	font-weight: 1000;
	color: #000000;
	font-size:36px;
}
header>nav{
	height: inherit;
	width:35%;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 3%;
	margin-right: 3%;
	line-height: inherit;
	text-align: center;
	vertical-align: top;
	display:inline-block;
}
header>nav>a{
	line-height: 42px;
	text-align: center;
	font-weight: 400;
	color: #FFFFFF;
	font-size:20px;
}
.headerLinks{
	height: 42px;
	width: 20%;
	margin-top: 9px;
	margin-left: auto;
	margin-right: auto;
	background-color: #F4B400;
	opacity: 95%;
	clip-path: inset(0px 0px 0px 0px round 5px 5px 5px 5px);
	transition-property: color background-color;
	transition-duration: 300ms;
	display:inline-block;
}
.headerLinks:hover{
	color: #000000;
	background-color: #FFFFFF;
}
#googleLogo{
	height:40%;
	margin-top: 18px;
	transition-property: color background-color;
	transition-duration: 100ms;
}
#googleLogo:hover{
	height:50%;
	margin-top: 15px;
}