#profile-tab {
    background-color: #040425;
    color: aliceblue;
    opacity: 60%;
    position: fixed;
    right: 99%;
    top: 0%;
    height: 100vh;
    width: 100vw;
    border-radius: 60px;
}

#profile-tab:hover {
    animation: profile_slide_out 0.5s ease;
    right: 87%;
    opacity: 100%;
}

#profile-tab>div {
    height: 100%;
    width: 11%;
    margin: 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#profile-tab>div>img {
    width: 100%;
    padding: 10px;
}

#profile-info {
    color: #FFF;
}

#name {
    font-size: 1.2vw;
    margin: 10px auto;
}

.detail {
    font-size: 0.8vw;
    font-weight: 100;
    margin: 5px 0;
}

#employment>div {
    margin: 15px 0;
}

@keyframes profile_slide_out {
    from {
        right: 99%;
    }
    75% {
        right: 85%;
    }
    to {
        right: 87%;
    }
}