body{
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	font-family: "微軟正黑體";
}
header{
	position: fixed;
	height:60px;
	width: 100%;
	background-color:#F4B400;
	opacity: 98%;
/*	display: grid;
	place-items: center;*/
}
header>div{
	height: inherit;
	width: 50%;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	line-height: inherit;
	display:inline-block;
}
#webName{
	font-weight: 1000;
	color: #000000;
	font-size:36px;
}
header>nav{
	height: inherit;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 5%;
	margin-right: 5%;
	line-height: 60px;
	text-align: center;
	vertical-align: top;
	display:inline-block;
}
header>nav>a{
	font-weight: 400;
	color: #000000;
	font-size:20px;
	margin-left: 15px;
	margin-right: 15px;
}
main{
	padding-top: 60px;
	margin-left: 10px;
	margin-right: 10px;
}
main>h3{
	font-size:25px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}
a{
	text-decoration: none;
}
@keyframes squareMove{
	0% {
		margin-top: 150px; 
		margin-bottom: 250px;
		margin-left:100px; 
		margin-right:200px;
		background-color: #4285F4; 
	}
	25% {
		margin-top: 250px;
		margin-bottom: 150px;
		margin-left:100px; 
		margin-right:200px;
		background-color: #DB4437;
	}
	50% {
		margin-top: 250px;
		margin-bottom: 150px;
		margin-left:200px;
		margin-right:100px;
		background-color: #F4B400;
	}
	75% {
		margin-top: 150px;
		margin-bottom: 250px;
		margin-left:200px; 
		margin-right:100px;
		background-color: #0F9D58;
	}
	100% {
		margin-top: 150px;
		margin-bottom: 250px;
		margin-left:100px;
		margin-right:200px;
		background-color: #4285F4;
	}
}
.autoSquare{
	width: 100px;
	height: 100px;
	margin-top: 150px;
	margin-bottom: 250px;
	margin-left:100px;
	margin-right:200px;
	background-color: #4285F4;
	animation-name: squareMove;
	animation-iteration-count: infinite;
}
#sq001{
	animation-duration: 4s;
}
#sq002{
	animation-duration: 2s;
}
#sq003{
	animation-duration: 8s;
}
.squareContainer{
	 display:inline-block;
	 width: 33%;
}
.playSquare{
	width: 100px;
	height: 20px;
	background-color:#4285F4;
	transition: all 1s;
	transition-timing-function: ease-out;
}
.playSquare:hover{
	background-color: #DB4437;
	border-top: 1px;
	width: 400px;
	height: 20px;
}
#canvas001{
	width:100%;
}
footer{
	height:80px;
	background-color:#000000;
	color:white;
	line-height:40px;
	margin: auto;
}