body::-webkit-scrollbar {
    display: none;
}
#main{
	width:100%;
	height: 63.5vh;
	text-align: center;
	margin-top: 0;
}
#post_list{
	width:100%;
	text-align: center;
	margin: 26vh auto 10vh 20vw;
	overflow: visible;
	display: block;
	white-space: nowrap;
	list-style-type: none;
}
#post_list>li{
	width:30%;
	margin: 30px 20px;
	display: inline-block;
}
#post_list>li div{
	text-align: center;
	width:100%;
	height:250px;
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow:0px 5px 5px 2px #AAAAAA;
	opacity: 75%;
	display: inline-block;
	transition-property: opacity;
	transition-duration: 1s;
}
#post_list div:hover{
	opacity: 100%;
}
#post_list h3{
	color: #000000;
}
.change_page{
	height: 50px;
	width: 50px;
	opacity: 80%;
	position: fixed;
	z-index: 10;
	text-align: left;
	overflow:hidden;
	transition-property: opacity width height;
	transition-duration: 100ms;
}
.change_page>img{
	margin: 0;
	height:inherit;
	display: inline-block;
	float: left;
}
#next_page{
	bottom: 50vh;
	left:90%;
}
#last_page{
	bottom: 50vh;
	right:95%;
	transform: rotate(180deg);
}
.change_page:hover{
	opacity: 100%;
	width: 92px;
	height: 55px;
}
#contact_bar{
	z-index: 10;
	list-style-type: none;
	position: fixed;
	top: 40%;
	right:-1px;
}
#contact_bar li{
	margin: 2px 0px;
}
.side_bar{
	box-sizing: border-box;
	display: grid;
	place-items:center;
	width:52px;
	height:39px;
	border-radius: 10px;
	box-shadow:-5px 2px 15px 2px #BBBBBB;
	line-height: inherit;
	vertical-align: middle;
	transition-property: width height;
	transition-duration: 100ms;
}
.side_bar:hover{
	width:60px;
	height:45px;
}
#mail_to_me{
	background-color:#FFFFFF;
}
#mail_to_me>img{
	width:80%;
}
#my_facebook_page{
	background-color:#33569F;
}
#my_facebook_page>img{
	height:80%;
}
#my_github_page{
	background-color:#000000;
}
#my_github_page>img{
	height:80%;
}
#div_gradient_left{
	width:30%;
	height: 100vh;
	position: fixed;
	top:0;
	left:0;
	z-index: 0;
	background: linear-gradient(0deg, rgba(238, 238, 238, 1)0%, rgba(238, 238, 238, 0)100%);
	background: -moz-linear-gradient(0deg, rgba(238, 238, 238, 1)0%, rgba(238, 238, 238, 0)100%);
	background: -webkit-linear-gradient(0deg, rgba(238, 238, 238, 1)0%, rgba(238, 238, 238, 0)100%);
	background: -o-linear-gradient(0deg, rgba(238, 238, 238, 1)0%, rgba(238, 238, 238, 0)100%);
}
#div_gradient_right{
	width:30%;
	height: 100vh;
	position: fixed;
	top:0;
	right:0;
	z-index: 0;
	background: linear-gradient(180deg, rgba(238, 238, 238, 1)0%, rgba(238, 238, 238, 0)100%);
	background: -moz-linear-gradient(180deg, rgba(238, 238, 238, 1)0%, rgba(238, 238, 238, 0)100%);
	background: -webkit-linear-gradient(180deg, rgba(238, 238, 238, 1)0%, rgba(238, 238, 238, 0)100%);
	background: -o-linear-gradient(180deg, rgba(238, 238, 238, 1)0%, rgba(238, 238, 238, 0)100%);
}
footer{
	z-index: 10;
	position: fixed;
	width:100%;
	height:80px;
	background-color:#000000;
	color:white;
}