#main{
	width:100%;
	text-align: center;
	margin-top: 0 auto;
}
#post_list{
	width:50%;
	text-align: center;
	margin: 90px auto 30px auto;
}
#post_list>div{
	text-align: center;
	margin: 30px auto;
	width:100%;
	height:250px;
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow:0px 2px 5px 2px #AAAAAA;
	opacity: 75%;
	transition-property: opacity;
	transition-duration: 1s;
}
#post_list>div:hover{
	opacity: 100%;
}
.change_page{
	height: 50px;
	width: 50px;
	opacity: 50%;
	position: fixed;
	text-align: left;
	overflow:hidden;
	transition-property: opacity width height;
	transition-duration: 100ms;
}
.change_page>img{
	margin: 0;
	height:inherit;
	display: inline-block;
	float: left;
}
.change_page>span{
	margin: 11px 0 0 0;
	width:50px;
	word-break: break-word;
	font-size: 12px;
	opacity: 80%;
	position: absolute;
	display: inline-block;
	float: left;
}
#next_page{
	bottom: 40%;
	left:80%;
}
#last_page{
	bottom: 40%;
	right:80%;
	transform: rotate(180deg);
}
#last_page>span{
	transform: rotate(180deg);
	text-align: right;
}
.change_page:hover{
	opacity: 80%;
	width: 92px;
	height: 55px;
}
#contact_bar{
	list-style-type: none;
	position: fixed;
	top: 40%;
	right:-1px;
}
#contact_bar li{
	margin: 2px 0px;
}
.side_bar{
	box-sizing: border-box;
	display: grid;
	place-items:center;
	width:52px;
	height:39px;
	border-radius: 10px;
	box-shadow:-5px 2px 15px 2px #BBBBBB;
	line-height: inherit;
	vertical-align: middle;
	transition-property: width height;
	transition-duration: 100ms;
}
.side_bar:hover{
	width:60px;
	height:45px;
}
#mail_to_me{
	background-color:#FFFFFF;
}
#mail_to_me>img{
	width:80%;
}
#my_facebook_page{
	background-color:#33569F;
}
#my_facebook_page>img{
	height:80%;
}
#my_github_page{
	background-color:#000;
}
#my_github_page>img{
	height:80%;
}
@keyframes toTopButton{
	50% {
		bottom: 20px;
	}
	100% {
		bottom: 10px;
	}
}
#toTop{
	height: 45px;
	width: 45px;
	text-align: center;
	line-height: 45px;
	background-color: #000000;
	color:#444444;
	opacity: 50%;
	clip-path: circle(45% at 50% 50%);
	transition-property: opacity color;
	transition-duration: 1s;
	display:block;
	position: fixed;
	bottom: 10px;
	right:10px;
	animation-name: toTopButton;
	animation-iteration-count: infinite;
	animation-duration: 5s;
}
#toTop:hover{
	opacity: 99%;
	color: #ffffff;
}
footer{
	height:80px;
	background-color:#000000;
	color:white;
}