.main {
    margin-left: 3%;
    margin-right: 3%;
}

.paragraph-title {
    font-size: 1.6em;
    font-weight: 1000;
}

.paragraph-content {
    font-size: 1em;
}

#special-block {
    height: 15vh;
}

.content-img {
    float: left;
    height: 100%;
    margin-right: 20px;
}

.content-text {
    height: 100%;
}

.content-text div {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: auto;
}

#special-font-line {
    font-family: 'Times New Roman', Times, serif;
}

#green-line {
    color: #00dd00;
}

#green-line span {
    color: #000000;
}

#green-line span:hover {
    color: #00dd00;
}

#small-line {
    font-size: 12px;
    font-weight: bold;
}

.part-of-histogram {
    width: 5%;
    display: inline-block;
}

table {
    width: 70%;
    border: 3px #000000 solid;
}

@keyframes toTopButton {
    50% {
        bottom: 20px;
    }
    100% {
        bottom: 10px;
    }
}

#toTop {
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    background-color: #000000;
    color: #444444;
    opacity: 50%;
    clip-path: circle(45% at 50% 50%);
    transition-property: opacity color;
    transition-duration: 0.3s;
    display: block;
    position: fixed;
    bottom: 10px;
    right: 10px;
    animation-name: toTopButton;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

#toTop:hover {
    opacity: 99%;
    color: #ffffff;
}

.footer {
    background-color: #333;
    color: #eee;
    padding-top: 5px;
    padding-bottom: 20px;
}