:root {
    --w: 100vw;
}

.main-img-container {
    width: 100%;
    height: calc(var(--w)*0.45);
    position: relative;
    overflow: hidden;
}

.main-img-container img {
    width: 100%;
    position: absolute;
    top: -40%;
}

.article-title {
    position: absolute;
    width: 100%;
    font-weight: 900;
    bottom: 15%;
}

.article-info {
    display: flex;
    padding: 30px 0 0 0;
    font-size: 1rem;
    color: #888;
}

.article-info-label {
    margin: 0 0 0 4%;
}

.article-info-label.name {
    cursor: pointer;
}

.paragraph-title {
    font-weight: 700;
    letter-spacing: 5px;
}

.paragraph-title.tier-1 {
    font-size: 2rem;
    text-align: center;
    padding: 60px 0 20px 0;
}

.paragraph-title.tier-2 {
    font-size: 1.4rem;
    text-align: start;
    padding: 20px 0 20px 0;
}

.paragraph {
    padding: 20px 0;
    letter-spacing: 2px;
    line-height: 2.4rem;
    text-align: justify;
    text-justify: inter-ideograph;
    font-size: 1.2rem;
    color: #333;
    word-break: break-word;
}

.paragraph.formula {
    text-align: center;
    letter-spacing: 4px;
    font-style: italic;
}

.paragraph.img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraph.img>img {
    width: 100%;
}

.word-comment {
    color: #4da6ff;
}

.word-comment:hover {
    cursor: pointer;
}

.recommended-article {
    margin: 100px 0;
    padding: 0;
    font-size: 1.2rem;
}

#back-bar {
    position: fixed;
    bottom: 3%;
    right: 5%;
}

#back-bar a {
    padding: 5px 10px;
    border-radius: 50%;
}

#back-bar a:hover {
    background-color: #eee;
}

#back-bar a:active {
    background-color: #ddd;
}